name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.3, 8.2, 8.1]
        laravel: ["^11.0", "^10.0"]
        dependency-version: [prefer-lowest, prefer-stable]
        include:
          - laravel: "^10.0"
            testbench: "^8.0"
          - laravel: "^11.0"
            testbench: "^9.0"
        exclude:
          - laravel: "^11.0"
            php: 8.1

    name: PHP ${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: posix, dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          coverage: none

      - name: Install dependencies
        run: |
          composer config "http-basic.nova.laravel.com" "${{ secrets.NOVA_USERNAME }}" "${{ secrets.NOVA_LICENSE_KEY }}"
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "phpunit/phpunit:${{ matrix.phpunit }}" --no-interaction --no-update
          composer update --prefer-dist --no-interaction --no-progress --no-suggest

      - name: Run PHP tests
        run: vendor/bin/phpunit
        env:
          ANALYTICS_PROPERTY_ID: "${{ secrets.ANALYTICS_PROPERTY_ID }}"
          ANALYTICS_PROJECT_ID: "${{ secrets.ANALYTICS_PROJECT_ID }}"
          ANALYTICS_PRIVATE_KEY_ID: "${{ secrets.ANALYTICS_PRIVATE_KEY_ID }}"
          ANALYTICS_PRIVATE_KEY: "${{ secrets.ANALYTICS_PRIVATE_KEY }}"
          ANALYTICS_CLIENT_EMAIL_KEY: "${{ secrets.ANALYTICS_CLIENT_EMAIL_KEY }}"
          ANALYTICS_CLIENT_ID: "${{ secrets.ANALYTICS_CLIENT_ID }}"
          ANALYTICS_CLIENT_CERT_URL: "${{ secrets.ANALYTICS_CLIENT_CERT_URL }}"

      - name: Send Slack notification
        uses: 8398a7/action-slack@v3
        if: failure()
        with:
          status: ${{ job.status }}
          author_name: PHP ${{ matrix.php }}, Laravel ${{ matrix.laravel }}
          fields: repo,message,commit,author,eventName,workflow
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
