name: Run Tests

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [7.3, 7.4, 8.0]
        include:
          - laravel: 6.*
            testbench: 4.*
            phpunit: 9.*
          - laravel: 7.*
            testbench: 5.*
            phpunit: 9.*
          - laravel: 8.*
            testbench: 6.*
            phpunit: 9.*
          - php: 8.0
            laravel: 8.*
            testbench: 6.*
            phpunit: 9.*


    name: ${{ matrix.os }} - PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: posix, dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          coverage: none

      - name: Install dependencies
        run: |
          composer config "http-basic.nova.laravel.com" "${{ secrets.NOVA_USERNAME }}" "${{ secrets.NOVA_PASSWORD }}"
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "phpunit/phpunit:${{ matrix.phpunit }}" --no-interaction --no-update
          composer update --prefer-dist --no-interaction --no-progress --no-suggest

      - name: Run PHP tests
        run: vendor/bin/phpunit
        env:
          ANALYTICS_VIEW_ID: "${{ secrets.ANALYTICS_VIEW_ID }}"
          ANALYTICS_PROJECT_ID: "${{ secrets.ANALYTICS_PROJECT_ID }}"
          ANALYTICS_PRIVATE_KEY_ID: "${{ secrets.ANALYTICS_PRIVATE_KEY_ID }}"
          ANALYTICS_PRIVATE_KEY: "${{ secrets.ANALYTICS_PRIVATE_KEY }}"
          ANALYTICS_CLIENT_EMAIL_KEY: "${{ secrets.ANALYTICS_CLIENT_EMAIL_KEY }}"
          ANALYTICS_CLIENT_ID: "${{ secrets.ANALYTICS_CLIENT_ID }}"
          ANALYTICS_CLIENT_CERT_URL: "${{ secrets.ANALYTICS_CLIENT_CERT_URL }}"

      - name: Send Slack notification
        uses: 8398a7/action-slack@v3
        if: failure()
        with:
          status: ${{ job.status }}
          author_name: PHP ${{ matrix.php }}, Laravel ${{ matrix.laravel }}
          fields: repo,message,commit,author,eventName,workflow
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MATRIX_CONTEXT: ${{ toJson(matrix) }}